* {
    font-family: 'Audiowide', cursive;
}
nav{
    border-bottom: black solid 5px;
}
main{
    margin-bottom: 80px;
    border-bottom: black solid 5px;
}
html{
    background-color: #f8f9fa;
}
.checker{
    background:linear-gradient(90deg,#FFF 50%,#000 0)0/5em,linear-gradient(#FFF 50%,#000 0)0/9% 5em;
  background-blend-mode:exclusion
}

.imgcontainer{
    display: flex;
    justify-content: center;
}
.albumimg{
    display: flex;
    align-items: center;
    height: 95px;
    transition: all 0.1s linear;
}
.albumimg:hover{
    display: flex;
    align-items: center;
    transform: scale(1.1);
}
.logo{
    height: 75px;
}
.dropdownimg{
    height: 40px;
}
.album-header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}
.title-date-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-date-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.albumcover{
    height: 200px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.albumtitle{
    font-size: 60px;
    padding-right: 30px;
    color: whitesmoke;
    -webkit-text-stroke-width: 3.5px;
    -webkit-text-stroke-color: black;
}
.albumrelease{
    padding-right: 30px;
    color: whitesmoke;
    font-size: 25px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
.subtitle{
    display: flex;
    justify-content: center;
}
.songlist{
    display: flex;
    justify-content: center;
}
li{
    padding: 6px;
    transition: all 0.1s linear;
}
li:hover{
    transform: scale(1.25);
}
.summary-container{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.summary{
    font-size: 20px;
    width: 800px;
}
.bg-white{
    background-color: white;
}

.button{
    border: black solid 2px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}
.feedback-title{
    font-size: 30px;
}
.feedback-recent{
    font-size: 30px;
}